html{
    font-family: 'Poppins', sans-serif;
    font-size: 70%;
}
body{
    margin: 0;
    padding: 0;
}
body::-webkit-scrollbar{
    display: none;
}

.wrapper{
    width: 1254px;
    background: #CDCED0;
    margin: 0 auto;
    margin-top: 20px;
    border-radius: 26px;

}
main{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;

}
.container{
    width: 1110px;
    height: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-start;
    align-items: center; 
}
.section-one{
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.cargo-h1{
    margin: 0;
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 85px;
    font-style: normal;
    font-weight: 600;
    line-height: 1.3;
}
.cargo-h1 span{
    margin:  0;
   color: #FEFEFE; 
}
.button-wrapper{
    width: 530px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.order-btn{
    width: 250px;
    height: 68px;
    border-radius: 35px;
    background: #BCBDBF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: all 0.3s;
    cursor: pointer;
}


.order-txt{
    width: 240px;
    color: #1E1E1E;
    font-family: Poppins;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px; /* 150% */
}
.order-btn a {
    color: #000;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;    
    text-decoration: none;
}

.cargo-bg{
    width: 1105px;
    height: 425px;
    border-radius: 70px;
    background: url(../images/plane.jpg);
    background-position: center;
    background-size: 100%;
    transition: 300ms ease;
    cursor: pointer;
    position: relative;
}
.cargo-bg::after{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2); 
  border-radius: 70px;
}
.cargo-bg:hover{
    background-size: 104% ;
}
.left-col{
    display: flex;
    flex-direction: column;
    gap: 50px;
}
.right-col{
    width: 450px;
    height:450px;
    background: url(../images/Vector.svg); 
    background-position: center;  
    background-repeat: no-repeat;

}
.column{
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.b-modal-txt h2{
    color: #1C1D1F;
    font-family: Poppins;    
    font-size: 50px;
    font-style: normal;
    font-weight: 700;
    line-height: 142.5%; /* 71.25px */
}
.b-modal-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
}
.cargo-modal{
    width: 344px;
    height: 195px;
    border: 1.2px solid #77787A;
    border-radius: 23px;
    display: flex;
    align-items: center;
}
.section-two{
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 60px;
}
.h-cargo-01{
    color: #FDFDFD;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    padding:  0 10px;
    background: #CDCED0;
    position: absolute;
    top: -38px;
    margin-left: 30px;
}
.cost-txt-01, .weight-txt-01{
    margin: 0;
    color: #77787A;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 171.429% */
    text-transform: uppercase;
}
.c-detail-01, .h-detail-01{
    margin: 0;
    color: #000;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; /* 120% */
}
.by1{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin: 12px 0 0 30px;

}
.cost-detail-01, .weight-detail-01{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.infinity-loop{
    width: 30px;
    height: 30px;
}
.section-three{
    margin-top: 60px;
    width: 100%;
    height: 550px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.left-column{
    width: 450px;
    height: 550px;
}
.right-column{
   width: 550px;
   height: 550px;
   display: flex;
   flex-direction: column;
    gap: 40px;
}
.left-column h2{
    margin: 0;
    color: #1C1D1F;
    font-family: Poppins;
    font-size: 50px;
    font-style: normal;
    font-weight: 600;
    line-height: 142.5%; /* 71.25px */
}

.left-column h2 span{
    color: white;
}
.cont-shipping{
    width: 535px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
    }
     .section-x{
        display: flex;
        flex-direction: column;
      }
    
      .shipping-method-label {
        font-size: 16px;
      }
    
      /* Container for buttons */
      .ship {
        display: flex;
        flex-direction: row; /* Buttons will be arranged horizontally */
        width: 538px;
        height: 46px;
        border-radius: 10px;
        border: 1.2px solid #77787A;
        justify-content: center;
        align-items: center;
        gap: 4px;
      }
    
      /* Styling for buttons */
      .land,
      .air, 
      .sea{
        border: none;
        width: 175px;
        height: 40px;
        flex-shrink: 0;
        background: none;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.5%; /* 19.95px */
        transition: background 0.3s, color 0.3s, border-radius 0.3s;
        cursor: pointer;

      }

      #active{
        background: #000;
        color: #FDFDFD;
        border-radius: 7px;

      }
      .s-1{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        gap: 25px;

      }
      .type-of-goods, .weight{
        display: flex;
        flex-direction: column;
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 142.5%; /* 19.95px */
        text-transform: uppercase;
      }

      .shipping-method-label{
        color: #000;
        font-family: Poppins;
        font-size: 14px;
        font-style: normal;
        font-weight: 600;
        line-height: 142.5%; /* 19.95px */
        text-transform: uppercase;
      
      }
      .goods-1{
        color: #808183;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        line-height: 142.5%; /* 22.8px */    
        width: 250px;
        height: 45px;
        border-radius: 10px;
        border: 1.2px solid #77787A;
        background: #CDCED0;
        outline: none;
        padding-left: 6px;
        cursor: pointer;
      }
      .weight-input{
        width: 250px;
        height: 45px;
        flex-shrink: 0;
        border-radius: 10px;
        border: 1.2px solid #77787A;
        background: none;
        color: #808183;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        padding-left: 6px;
        line-height: 142.5%; /* 22.8px */
    
    
      }
      .dimensions-input{
        width: 537px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
      }
      .dimensions-label{
         color: #000;
         font-family: Poppins;
         font-size: 14px;
         font-style: normal;
         font-weight: 600;
         line-height: 142.5%; /* 19.95px */
         text-transform: uppercase;
      }
      .length, .width, .height{
        width: 148px;
        height: 45px;
        border-radius: 10px;
        border: 1.2px solid #77787A;  
        color: #808183;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 500;
        padding-left: 10px;
        line-height: 142.5%; /* 22.8px */
        background: #CDCED0;
    }
    .section3{
        display: flex;
        flex-direction: row;
        gap: 22px;
        justify-content: center;
        align-items: center;
        
    
    }
    
    .entry-input1, .entry-input2{
    width: 248px;
    height: 98px;
    border-radius: 10px;
    border: 1.2px solid #77787A;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 4px;
    gap: 10px;
    position: relative;
    }
    
    .from{
      display: flex;
      flex-direction: column;
    }
     
    .country, .city{
      width: 230px;
      height: 30px;
      background: none;
      border: none;
      color: #808183;
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 142.5%; /* 22.8px */
    }
    
    
    .from-label, .to-label{
      color: #000;
      font-family: Poppins;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
      line-height: 142.5%; /* 19.95px */
      text-transform: uppercase;
    }
    .x{
      color: #1E1E1E;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 500;
    line-height: 142.5%; /* 19.95px */
    }
    input[type="text"]{
      outline: none;
    }
    
    .line {
      width: 248px;
      height: 1px;
      padding: 0.1px;
      background:#808183; /* Color of the thin line */
    }
    .est-button{
        width: 248px;
        height: 68px;
        border-radius: 34px;
        background: #B9BABC;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: row;
        gap: 40px;
        cursor: pointer;
    }
    .est-button span{
        color: #000;
        font-family: Poppins;
        font-size: 20px;
        font-weight: 500;
    }
    .section-four{
        height: 750px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .left-colm{
        width: 442px;
        height: 100%;
    }
    .right-colm{
        font-family: 'poppins', sans-serif;
        width: 770px;
        height: 100%;
    }
    .faqs{
        font-size: 45px;
        text-transform: uppercase;
        font-weight: 600;
    }
    .accordion {
        margin-top: 20px;
        border-bottom: .4px solid #808183;

      }
      
      .accordion .accordion-item {
        border-top: .4px solid #808183;
      }
      .accordion-item{
        padding-top: 20px;

      }
      .accordion .accordion-item button[aria-expanded="true"] {
        border-bottom: 1px solid var(--blue);
      }
      
      .accordion button {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;       
         text-align: left;
        width: 100%;
        padding: 1em 0;
        border: none;
        outline: none;
        background: none;
      }
      
      .accordion button:hover,
      .accordion button:focus {
        cursor: pointer;
      }
      .accordion-title{
        font-family: 'poppins', sans-serif;
        font-size: 22px;
        font-weight: 600;
      }
      
      .accordion .accordion-item button[aria-expanded="true"] + .content {
        opacity: 1;
        max-height: 9em;
        transition: all 300ms linear;
      }
      
      
      .content {
        opacity: 0;
        max-height: 0;
        transition: opacity 200ms linear, max-height 200ms linear;
      }
      
      .content p {
        font-size: 16px;
        font-family: 'poppins';
        font-weight: 400;
        margin: 1em 0;
      }
      
      i{
        font-size: 24px;
      }
    footer{
     height: 420px;
     background: #000;
     border-radius: 0 0 26px 26px;
     margin-bottom: 20px;
     display: flex;
     align-items: center;
    }
    .footer_wraper{
      margin-left: 60px;
      width: 940px;
      display: flex;
      justify-content: space-between;
      height: 300px;
    }
    .text-ft{
      font-size: 12px;
      color: #808183;
      font-weight: 500;
    }
      .f-col-1{
        display: flex;
        flex-direction: column;
        gap: 15px;
      }
      .f-left-colm{
        display: flex;
        gap: 70px;
      }
      .h-txt-ft{
        font-size: 14px;
        color: #808183;
        font-weight: 600;
        text-transform: uppercase;
      }
      .f-col-2,
      .f-col-3,
      .f-col-4{
        max-width: 210px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 15px;

      }
      .footer-links{
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: start;
        padding-inline-start: 0px;
        gap: 14px;
      }
      .footer-links li{
        list-style: none;
      }
      .footer-links li a{
        font-size: 15px;
        color: #FDFDFD;
        font-weight: 500;
        text-decoration: none;
      }